@font-face {
    font-family: 'icomoon';
    src: url('../../public/fonts/icomoon.woff') format('woff');
}

.icon {
    font-family: 'icomoon', 'sans-serif' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.factbox {
    background-color: ghostwhite;
    color: #151d4e;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    clear: both;
    box-shadow: 0 2px 3px #b6b6b6;
    padding: 10px 20px;
    max-width: fit-content;
    margin: 1rem;
    position: relative;
}

.factbox .header {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 1rem;
}

.factbox .icon:before {
    content: "\e0c9";
    color: #4b93bd;
}
