.infoContainer {
  flex-grow: 1;
  flex-basis: content;
  padding: 0;
  margin: 0;

  * {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: #444;
  }

  h2, h3 {
    padding: 0;
    margin: 0;
    color: #0c0c0c;
  }

  h2 {
    font-size: 34px;
  }

  p {
    padding: 0;
    margin: 10px 0 0 0;
  }
}
