.movie {
  margin: 0;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.poster {
  width: 300px;
  margin-right: 30px;
  flex: 0 1 content;
}
