html {
    background-color: #071622;
    color: ghostwhite;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    padding: 0;
}

.wrapper {
}

body {
    margin: 0 auto 0 auto;

}

#PageView {
    width: 100%;
}

.contentContainer > div {
    margin-bottom: calc(6vh - 16px);
    min-height: 86vh;
    padding: 8px;
    max-width: 1400px;
    padding-inline: 2.5vw;
    margin-inline: auto;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    a {
        color: #EF82F0;
        text-decoration: none;
    }

    p {
        margin: 0;
        background-color: #071622;
        padding-inline: 0.2rem;
        font-size: 1.6rem;
        font-weight: bolder;
        border-bottom-right-radius: 5px;
    }
}

h1 {
    color: #0892D4;
    font-size: 3rem;
    margin: 0 0 3rem 0;
    padding-top: 3rem;
    text-align: left;
    line-height: normal;
}

h2 {
    color: #EF82F0;
    font-size: 2rem;
}

h3 {
    color: #61DBFB;
    font-size: 1.4rem;
}

a {
    color: #61DBFB;
}

img {
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 1600px;
}

p {
    font-size: 22px;
}

.editor-align-justify {
    margin-inline: auto;
}
