@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?dufvmt');
    src: url('../fonts/icomoon.eot?dufvmt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dufvmt') format('truetype'),
    url('../fonts/icomoon.woff?dufvmt') format('woff'),
    url('../fonts/icomoon.svg?dufvmt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chat_bubble:before {
    content: "\e0ca";
}

.icon-check_circle:before {
    content: "\e86c";
}

.icon-message:before {
    content: "\e0c9";
}

.icon-report:before {
    content: "\e160";
}

.icon-warning:before {
    content: "\e002";
}

.macro-panel .icon {
    display: none;
}

.macro-panel.macro-panel-styled {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);

    min-height: 24px;
    line-height: 24px;

    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}

.macro-panel.macro-panel-styled strong {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    display: block;
}

/*      Default panel   */

.macro-panel.macro-panel-styled.macro-panel-default {
    padding: 10px;
    background-color: #f5f5f5;
}

/*      Any but default panel   */

.macro-panel.macro-panel-styled:not(.macro-panel-default) {
    padding: 10px 10px 10px 44px;
    position: relative;
}

.macro-panel.macro-panel-styled:not(.macro-panel-default) .icon {
    display: block;
    position: absolute;
    font-size: 24px;
    top: 10px;
    left: 10px;
}

/*      Info panel      */

.macro-panel.macro-panel-styled.macro-panel-info {
    background-color: #e1f2fa;
}

.macro-panel.macro-panel-styled.macro-panel-info .icon:before {
    content: "\e0c9";
    color: #4b93bd;
}

/*      Note panel      */

.macro-panel.macro-panel-styled.macro-panel-note {
    background-color: #f5f4dc;
}

.macro-panel.macro-panel-styled.macro-panel-note .icon:before {
    content: "\e002";
    color: #ccc03f;
}

/*      Success panel      */

.macro-panel.macro-panel-styled.macro-panel-success {
    background-color: #edfae1;
}

.macro-panel.macro-panel-styled.macro-panel-success .icon:before {
    content: "\e86c";
    color: #7bb842;
}

/*      Error panel      */

.macro-panel.macro-panel-styled.macro-panel-error {
    background-color: #fae5e1;
}

.macro-panel.macro-panel-styled.macro-panel-error .icon:before {
    content: "\e160";
    color: #de6f57;
}

