.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.row :global(> div) {
    flex: 1;
    min-width: 200px;
}

.row :global(.xp-page-editor-region-placeholder) {
    margin-bottom: 0;
}

